In [8]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split  
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
from sklearn.cluster import KMeans

In [3]:
myopic_search = pd.read_csv('myopia.csv')
myopic_search

,AGE,SPHEQ,AL,ACD,LT,VCD,SPORTHR,READHR,COMPHR,STUDYHR,TVHR,DIOPTERHR,MOMMY,DADMY,MYOPIC
0,6,-0.052,21.889999,3.690,3.498,14.70,45,8,0,0,10,34,1,1,1
1,6,0.608,22.379999,3.702,3.392,15.29,4,0,1,1,7,12,1,1,0
2,6,1.179,22.490000,3.462,3.514,15.52,14,0,2,0,10,14,0,0,0
3,6,0.525,22.200001,3.862,3.612,14.73,18,11,0,0,4,37,0,1,1
4,5,0.697,23.290001,3.676,3.454,16.16,14,0,0,0,4,4,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613,6,0.678,22.400000,3.663,3.803,14.93,2,0,7,3,14,37,1,0,1
614,6,0.665,22.500000,3.570,3.378,15.56,6,0,1,0,8,10,1,1,0
615,6,1.834,22.940001,3.624,3.424,15.89,8,0,0,0,4,4,1,1,0
616,6,0.665,21.920000,3.688,3.598,14.64,12,2,1,0,15,23,0,0,0
617,6,0.802,22.260000,3.530,3.484,15.25,25,0,2,0,10,14,1,1,0

In [7]:
X = myopic_search.drop('MYOPIC', axis=1).copy()
y = myopic_search['MYOPIC']

In [9]:
myopic_search.shape

(618, 15)

In [10]:
myopic_search.columns

Index(['AGE', 'SPHEQ', 'AL', 'ACD', 'LT', 'VCD', 'SPORTHR', 'READHR', 'COMPHR',
       'STUDYHR', 'TVHR', 'DIOPTERHR', 'MOMMY', 'DADMY', 'MYOPIC'],
      dtype='object')

In [11]:
myopic_search.isnull().sum()

AGE          0
SPHEQ        0
AL           0
ACD          0
LT           0
VCD          0
SPORTHR      0
READHR       0
COMPHR       0
STUDYHR      0
TVHR         0
DIOPTERHR    0
MOMMY        0
DADMY        0
MYOPIC       0
dtype: int64

In [12]:
"myopic_search.duplicated().sum()

0

In [13]:
# Created a scaler to standardize the data and train the scaler with the data.

scaler = StandardScaler()

X_scaled = scaler.fit_transform(myopic_search)

In [15]:
# The dataset has 14 features and columns which are called dimensions.

X_scaled[0]

array([-0.42021911, -1.3639169 , -0.89286146,  0.48378402, -0.28144315,
       -1.0197916 ,  4.1506609 ,  1.69744958, -0.68931054, -0.67299591,
        0.18405806,  0.49830393,  0.98713773,  1.0032415 ,  2.57480672])

In [17]:
# In the next part of the work we apply the dimentionality reduction with PCA which helps us understand how the number of features change.

#Preserving 90% of the variance when initializing the PCA model.
pca = PCA(n_components=0.9)
# Attaining the principal components for the X_train_scaled.
myopic_search_pca = pca.fit_transform(X_scaled)
# Explained Variance Ratio
pca.explained_variance_ratio_.sum()

0.9289880687733465

In [18]:
# Shape of the features after the reduction.
myopic_search_pca.shape

(618, 11)